@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
/*font-family: 'Crimson Text', serif;*/

body{
    font-family: 'Crimson Text', serif;
    margin: 0;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    min-height: 70px;
    background-color: darkkhaki;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    height: 50px;
    margin-right: 15px;
}

nav a{
    font-weight: 700;
    padding-right: 15px;
}

nav a:hover{
    color: rgb(49, 124, 189);
}

.info-container{
    background-color:aqua;
    height: 30vh;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: red;
}

.foto{
    height: 200px;
    margin: 20px;
    padding-left: 0px 50px;
    border-radius: 25px;
    border-style: dashed;
    color: red;
}

#conocimientos{
    text-align: center;
}

#conocimientos .contenedor-tarjetas{
    padding: 50px 10px;
    text-align: center;
    padding: 50px 0px;
    margin-top: 0;
}

#conocimientos h2{
    font-size: 5vh;
}

#conocimientos p{
    display: none;
}

#conocimietos .tarjeta{
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    padding: 50px;
    margin: 10px;
    border-radius: 20px;
}

.programas{
    display: flex;
    justify-content: center;
}

.tarjeta{
    border-style:inset;
    padding: 10px;
    margin: 10px;
    background-color: rgb(0, 255, 106);
}

.logo-html, .logo-css, .logo-js, .logo-uipath, .logo-pa{
    height: 80px;
}

.footer{
    background-color: grey;
    padding: 1em 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}



@media (max-width: 700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 15px 0px;
    }
}