@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
/*font-family: 'Crimson Text', serif;*/

body{
    font-family: 'Crimson Text', serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    min-height: 70px;
    background-color: darkkhaki;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    height: 50px;
    margin-right: 15px;
}

nav a{
    font-weight: 700;
    padding-right: 15px;
}

nav a:hover{
    color: rgb(49, 124, 189);
}

.info-container{
    background-color:aqua;
    height: 30vh;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto{
    height: 200px;
    margin: 20px;
    padding-left: 0px 50px;
    border-radius: 25px;
    border-style: dashed;
    color: red;
}

.html-logo, .css-logo, .js-logo, .uipath-logo{
    height: 50px;
}

.pa-logo{
    height: 80px;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 15px 0px;
    }
}