@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
/*font-family: 'Crimson Text', serif;*/

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Crimson Text', serif;
}

ul{
    list-style: none;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color:beige;
}

header .logo{
    margin: 0;
    padding: 20px 20px;
    font-weight: bold;
    color: rgb(13, 76, 41);
    font-size: 1.5em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}

header a{
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(15, 80, 50);
}

header a:hover{
    color: black;
}

.leyenda{
    color: rgb(15, 80, 50);
}

#info .container{
    text-align: left;
    padding: 50px 10px;
    background-color: aquamarine;
}

#estudios .container{
    text-align: left;
    padding: 50px 10px;
    background-color: bisque;
}

#conocimientos .container{
    text-align: left;
    padding: 50px 10px;
    background-color: rgb(208, 81, 81);
}

#contacto .container{
    display: flex;
    text-align: left;
    flex-direction: column;
    padding:50px 10px;
    background-color: rgb(181, 143, 217);
}

footer {
    background-color: darkslategray;
}

footer p{
    margin: 0;
    color: white;
}

footer .container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 720px){

    header {
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 10px;
    }

    #info .container{
        display: flex;
        justify-content: center;
    }

    #info h2{
        color: rgb(26, 28, 30);
        font-size: 150%;
        padding: 10px 10px;  
    }

    #info li{
        color: rebeccapurple;
        font-size: 100%;
        width: 50%;
        max-width: 500px;
        display: inline-block;
        padding: 10px 10px;
    }

    
    
}